# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments (if created locally)
venv/
env/
picto_venv/

# Ignore VS Code settings (optional)
.vscode/

extracted_pictograms/
pdf_to_images/
uploads/
.DS_Store
